Repository lv416e/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, check-file-size, check-private-keys, check-chezmoi-config

gitleaks:
  run: mise exec -- gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

check-file-size:
  run: "for file in $(git diff --cached --name-only); do\n  # Skip if file doesn't exist (deleted files)\n  [ -f \"$file\" ] || continue\n\n  # Get file size (macOS and Linux compatible)\n  size=$(stat -f%z \"$file\" 2>/dev/null || stat -c%s \"$file\" 2>/dev/null)\n\n  # Check if file is larger than 1
  ...

check-private-keys:
  run: "# Check for private key files in staged changes\nfiles=$(git diff --cached --name-only | grep -E '\\.(key|pem|p12|pfx|cer|crt|der)$' || true)\n\nif [ -n \"$files\" ]; then\n  echo \"‚ùå Attempting to commit private key files:\"\n  echo \"$files\" | sed 's/^/   /'\n  echo \"\"\n  echo \"Private
  ...

check-chezmoi-config:
  run: "# Check if secrets = \"error\" is still set\nif ! grep -q 'secrets = \"error\"' .chezmoi.toml.tmpl; then\n  echo \"‚ö†Ô∏è  Warning: 'secrets = \\\"error\\\"' not found in .chezmoi.toml.tmpl\"\n  echo \"   This setting prevents accidental secret commits.\"\n  echo \"   Consider adding it to [ad
  ...

Refine promptq UX: modernize lists, fix fzf preview, improve help formatting
  dot_local/bin/executable_promptq
Due: check-file-size

Remove obsolete promptq backup files
  dot_local/bin/executable_promptq.bak
  dot_local/bin/executable_promptq.emoji
Due: check-file-size

Add file locking to promptq for concurrent access safety
  dot_local/bin/executable_promptq
Due: check-file-size

Extend promptq with delete, tag management, and #reusable auto-keep
  dot_local/bin/executable_promptq
Due: check-file-size

Add fzf interactive mode to tag-add and tag-remove commands
  dot_local/bin/executable_promptq
Due: check-file-size

feat: add GITHUB_TOKEN from 1Password
  dot_config/zsh/conf.d/04-env.zsh.tmpl
  dot_zshrc.tmpl
Due: gitleaks, check-file-size

tweak
  dot_local/bin/executable_promptq
Due: check-file-size

feat: add DevContainer and Codespaces integration
  docs/examples/devcontainer/README.md
  docs/examples/devcontainer/devcontainer.json
  dot_config/Code/User/settings.json.tmpl
  dot_install.sh
Due: gitleaks, check-file-size

feat: add GitHub Copilot CLI and fix 1Password token reference
  dot_config/private_mise/config.toml
  dot_config/zsh/conf.d/04-env.zsh.tmpl
  dot_zshrc.tmpl
Due: gitleaks, check-file-size

docs: add comprehensive Claude Skills guide
  docs/guides/claude-skills.md
Due: check-file-size

Add .claude/skills/deep-research/SKILL.md
  dot_claude/skills/deep-research/SKILL.md
Due: check-file-size

feat: add bilingual (English/Japanese) descriptions to all Claude skills
  .chezmoi.toml.tmpl
  README.md
  dot_claude/skills/artifacts-builder/SKILL.md
  dot_claude/skills/brainstorming/SKILL.md
  dot_claude/skills/deep-research/SKILL.md
  dot_claude/skills/defense-in-depth/SKILL.md
  dot_claude/skills/executing-plans/SKILL.md
  dot_claude/skills/mcp-builder/SKILL.md
  dot_claude/skills/repository-analyzer/SKILL.md
  dot_claude/skills/requesting-code-review/SKILL.md
  dot_claude/skills/skill-creator/SKILL.md
  dot_claude/skills/systematic-debugging/SKILL.md
  dot_claude/skills/template-skill/SKILL.md
  dot_claude/skills/test-driven-development/SKILL.md
  dot_claude/skills/using-git-worktrees/SKILL.md
  dot_claude/skills/writing-plans/SKILL.md
  dot_claude/skills/writing-skills/SKILL.md
  dot_config/promptq/README.md
  dot_config/zsh/conf.d/04-env.zsh.tmpl
  dot_zshrc.tmpl
Due: gitleaks, check-file-size, check-chezmoi-config

fix: resolve template configuration issues and improve fork-friendliness
  .chezmoi.toml.tmpl
Due: gitleaks, check-file-size, check-chezmoi-config

docs: remove emojis and use GitHub Markdown callouts for better readability
  FORK.md
  README.md
  docs/getting-started/new-machine-setup.md
Due: check-file-size

feat: template mise config to eliminate hardcoded vault names
  dot_config/private_mise/config.toml.tmpl
Due: gitleaks, check-file-size

docs: add comprehensive implementation summary
  IMPLEMENTATION_SUMMARY.md
Due: check-file-size

tweak
  README.md
Due: check-file-size

docs: simplify README with clearer structure and copy-paste friendly code blocks
  README.md
Due: check-file-size

docs: improve code block usability and restore useful sections
  README.md
Due: check-file-size

tweak
  IMPLEMENTATION_SUMMARY.md
  README.md
Due: check-file-size

docs: convert Usage and Maintenance sections to table format
  README.md
Due: check-file-size

feat: add Raycast script management with chezmoi
  .chezmoiignore
  .gitignore
  docs/reference/raycast-extensions.md
  dot_config/raycast/scripts/dot_gitkeep
Due: check-file-size

feat: add Linux support to Brewfile with OS detection
  dot_Brewfile.tmpl
  run_onchange_install-packages.sh.tmpl
Due: gitleaks, check-file-size

docs: add ADR-0008 for Linux best-effort support strategy
  docs/adr/0008-linux-best-effort-support.md
  docs/adr/README.md
Due: check-file-size

feat: add DevContainer configuration for cloud development
  .devcontainer/devcontainer.json
  docs/getting-started/new-machine-setup.md
Due: gitleaks, check-file-size

ci: add Linux compatibility testing to CI/CD pipeline
  .github/workflows/cicd.yml
  .github/workflows/test.yml
Due: gitleaks, check-file-size

tweak
  .chezmoitemplates/zshrc-monolithic.tmpl
  dot_Brewfile.tmpl
  dot_config/private_mise/config.toml.tmpl
  dot_config/zsh/conf.d/04-env.zsh.tmpl
Due: gitleaks, check-file-size

feat: add macOS defaults automation (ADR-0009)
  docs/adr/0009-macos-defaults-automation.md
  docs/adr/README.md
  docs/guides/macos-defaults-automation.md
  dot_config/private_mise/config.toml.tmpl
  run_onchange_before_configure-macos.sh.tmpl
  scripts/extract-macos-defaults.sh
Due: gitleaks, check-file-size

tweak
  .chezmoitemplates/macos-defaults-discovered.sh
Due: gitleaks, check-file-size

feat(zed,fnox): add Zed editor and fnox secret management
  docs/guides/IMPLEMENTATION-GUIDE-2025.md
  docs/guides/fnox-secrets-management.md
  docs/guides/zed-editor-setup.md
  dot_config/private_fnox/fnox.toml.tmpl
  dot_config/private_mise/config.toml.tmpl
  dot_config/zed/keymap.json.tmpl
  dot_config/zed/settings.json.tmpl
Due: gitleaks, check-file-size

tweak
  dot_config/zed/settings.json.tmpl
Due: gitleaks, check-file-size

Update .config/zed/settings.json
  dot_config/zed/settings.json.tmpl
Due: gitleaks, check-file-size

tweak
  backups/README.md
  backups/dot_zshenv.tmpl.original
  backups/dot_zshrc.tmpl.monolithic
Due: check-file-size

refactor: improve macOS defaults script version compatibility
  run_onchange_before_configure-macos.sh.tmpl
Due: gitleaks, check-file-size

tweak
  .chezmoi.toml.tmpl
  .chezmoiignore
  .devcontainer/devcontainer.json
  docs/guides/codespaces-devcontainer-setup.md
  docs/guides/codespaces-quick-start.md
  install
  run_onchange_install-packages.sh.tmpl
Due: gitleaks, check-file-size, check-chezmoi-config

feat: add GitHub Codespaces and DevContainer support
  .chezmoi.toml.tmpl
  .devcontainer/README.md
  .devcontainer/devcontainer-template.json
  .devcontainer/devcontainer.json
  .devcontainer/scripts/setup-dotfiles.sh
  docs/guides/codespaces-devcontainer-setup.md
  docs/guides/troubleshooting-devcontainer.md
Due: gitleaks, check-file-size, check-chezmoi-config

docs: standardize naming convention and improve English quality
  docs/FILE-RENAMING-MAP.md
  docs/NAMING-CONVENTION.md
  docs/README.md
  docs/explanation/multiplexer-abstraction-design.md
  docs/explanation/pre-commit-hooks-rationale.md
  docs/explanation/zsh-modular-configuration-design.md
  docs/getting-started/machine-setup-macos.md
  docs/guides/claude-code-skills-integration.md
  docs/guides/codespaces-quick-start.md
  docs/guides/codespaces-quickstart.md
  docs/guides/devcontainer-setup-complete.md
  docs/guides/devcontainer-troubleshooting.md
  docs/guides/macos-defaults-automation-guide.md
  docs/guides/secrets-management-fnox.md
  docs/guides/secrets-management-overview.md
  docs/guides/tmux-statusbar-customization.md
  docs/guides/tooling-implementation-guide-2025.md
  docs/guides/troubleshooting-devcontainer.md
  docs/guides/zed-configuration-guide.md
  docs/guides/zsh-configuration-rollback.md
  docs/guides/zsh-configuration-switching.md
  docs/reference/helix-configuration-reference.md
  docs/reference/keybindings-reference.md
  docs/reference/mise-tasks-reference.md
  docs/reference/raycast-extensions-reference.md
  docs/reference/terminal-multiplexers-comparison.md
  docs/reference/tools-evaluation-criteria.md
Due: check-file-size

fix: resolve git config error in devcontainer initialization
  .chezmoi.toml.tmpl
Due: gitleaks, check-file-size, check-chezmoi-config

Path conditions:
  gitleaks: any of: *.{yml,yaml,toml,sh,zsh,bash,json,env,txt,tmpl,lua}
  check-file-size: any of: *
  check-private-keys: any of: *.{key,pem,p12,pfx,cer,crt,der}
  check-chezmoi-config: any of: .chezmoi.toml.tmpl
