Repository lv416e/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, check-file-size, check-private-keys, check-chezmoi-config

Path conditions:
  gitleaks: any of: *.{yml,yaml,toml,sh,zsh,bash,json,env,txt,tmpl,lua}
  check-file-size: any of: *
  check-private-keys: any of: *.{key,pem,p12,pfx,cer,crt,der}
  check-chezmoi-config: any of: .chezmoi.toml.tmpl

chore: remove test file
  test-hooks.txt
Due: gitleaks, check-file-size

Add gitleaks to Brewfile for global installation
  dot_Brewfile
Due: check-file-size

tweak
  dot_config/private_mise/config.toml.tmpl
Due: gitleaks, check-file-size

tweak
  .chezmoi.toml.tmpl
Due: gitleaks, check-file-size, check-chezmoi-config

Implement dynamic multiplexer switching and tmux-compatible zellij
  dot_config/alacritty/alacritty.toml.tmpl
  dot_config/ghostty/config.tmpl
  dot_config/kitty/kitty.conf.tmpl
  dot_config/zellij/config.kdl
Due: gitleaks, check-file-size

Update zellij config to match custom tmux keybindings
  dot_config/zellij/config.kdl
Due: check-file-size

Update multiplexer docs to reflect custom tmux keybindings
  docs/TERMINAL_MULTIPLEXERS.md
Due: check-file-size

Add comprehensive keybindings reference card
  docs/KEYBINDINGS_REFERENCE.md
Due: check-file-size

Add keybindings reference to README
  README.md
Due: check-file-size

Fix switch-multiplexer to apply terminal emulator configs
  dot_config/zsh/conf.d/04-env.zsh.tmpl
Due: gitleaks, check-file-size

Add multiplexer abstraction layer for tmux/zellij
  dot_config/zellij/layouts/nvim-dual.kdl
  dot_config/zellij/layouts/nvim.kdl
  dot_config/zsh/conf.d/04-env.zsh.tmpl
  dot_config/zsh/conf.d/05-aliases.zsh
  dot_config/zsh/conf.d/07-repo.zsh
  dot_local/bin/executable_mux-nvim
Due: gitleaks, check-file-size

Add comprehensive multiplexer abstraction documentation
  README.md
  docs/MULTIPLEXER_ABSTRACTION.md
Due: check-file-size

Complete multiplexer abstraction for all tmux-* workspaces
  dot_config/zellij/layouts/nu.kdl
  dot_config/zellij/layouts/vim.kdl
  dot_config/zellij/layouts/work.kdl
  dot_local/bin/executable_mux-claude
  dot_local/bin/executable_mux-nu
  dot_local/bin/executable_mux-vim
  dot_local/bin/executable_mux-work
Due: check-file-size

Update multiplexer abstraction docs for all workspace types
  docs/MULTIPLEXER_ABSTRACTION.md
Due: check-file-size

Update all tmux-* aliases to mux-* for multiplexer abstraction
  .chezmoitemplates/zshrc-monolithic.tmpl
  dot_config/nushell/autoload/02-aliases.nu
  dot_config/nushell/autoload/03-commands.nu
  dot_config/zsh/conf.d/04-env.zsh.tmpl
  dot_config/zsh/conf.d/05-aliases.zsh
Due: gitleaks, check-file-size

Fix alias/function name collision for twk
  .chezmoi.toml.tmpl
  .chezmoitemplates/zshrc-monolithic.tmpl
  dot_config/zsh/conf.d/04-env.zsh.tmpl
Due: gitleaks, check-file-size, check-chezmoi-config

Update dot_zshrc.tmpl with multiplexer abstraction
  dot_zshrc.tmpl
Due: gitleaks, check-file-size

Add mux-kill-window script for multiplexer abstraction
  dot_local/bin/executable_mux-kill-window
Due: check-file-size

tweak
  .chezmoitemplates/zshrc-monolithic.tmpl
Due: gitleaks, check-file-size

Update .config/zellij/layouts/nvim-dual.kdl Update .config/zellij/layouts/nvim.kdl Update .config/zellij/layouts/work.kdl
  dot_config/zellij/layouts/nvim-dual.kdl
  dot_config/zellij/layouts/nvim.kdl
  dot_config/zellij/layouts/work.kdl
Due: check-file-size

Fix Zellij layouts to source correct .zshrc path
  dot_config/zellij/layouts/nvim-dual.kdl
  dot_config/zellij/layouts/nvim.kdl
  dot_config/zellij/layouts/work.kdl
Due: check-file-size

Fix Zellij layouts: use hardcoded path instead of $ZDOTDIR
  dot_config/zellij/layouts/nvim-dual.kdl
  dot_config/zellij/layouts/nvim.kdl
  dot_config/zellij/layouts/work.kdl
Due: check-file-size

Fix Zellij layouts: directly activate mise instead of sourcing .zshrc
  dot_config/zellij/layouts/nvim-dual.kdl
  dot_config/zellij/layouts/nvim.kdl
  dot_config/zellij/layouts/work.kdl
Due: check-file-size

Add .local/bin/zellij-ccusage-watch Add .local/bin/zellij-claude Add .local/bin/zellij-claude-monitor Add .local/bin/zellij-gitui Add .local/bin/zellij-nvim
  dot_local/bin/executable_zellij-ccusage-watch
  dot_local/bin/executable_zellij-claude
  dot_local/bin/executable_zellij-claude-monitor
  dot_local/bin/executable_zellij-gitui
  dot_local/bin/executable_zellij-nvim
Due: check-file-size

Zellij layouts: Use wrapper scripts instead of shell commands
  dot_config/zellij/layouts/nvim-dual.kdl
  dot_config/zellij/layouts/nvim.kdl
  dot_config/zellij/layouts/work.kdl
Due: check-file-size

Fix Zellij layouts: Use bash wrapper pattern for mise tools
  dot_config/zellij/layouts/nvim-dual.kdl
  dot_config/zellij/layouts/nvim.kdl
  dot_config/zellij/layouts/work.kdl
Due: check-file-size

Add immediate mise shims loading for Zellij compatibility
  dot_config/zsh/conf.d/03-tools.zsh
Due: gitleaks, check-file-size

Add zellijinator to mise and fix monolithic zsh config
  .chezmoitemplates/zshrc-monolithic.tmpl
  dot_config/private_mise/config.toml.tmpl
Due: gitleaks, check-file-size

Fix .gitignore: Replace invalid Icon[] pattern with Icon?
  .gitignore
Due: check-file-size

Add productivity enhancements and modern tools integration
  .chezmoitemplates/zshrc-monolithic.tmpl
  dot_Brewfile
  dot_config/private_atuin/private_config.toml.tmpl
  dot_config/private_mise/config.toml.tmpl
  dot_config/zsh/conf.d/03-tools.zsh
  dot_config/zsh/conf.d/05-aliases.zsh
  dot_config/zsh/conf.d/06-functions.zsh
Due: gitleaks, check-file-size

Fix switch-zsh-config and switch-multiplexer: Use command sed to bypass alias
  .chezmoitemplates/zshrc-monolithic.tmpl
  dot_config/zsh/conf.d/04-env.zsh.tmpl
Due: gitleaks, check-file-size

Fix all sed calls: Use command sed to bypass sd alias
  .chezmoitemplates/zshrc-monolithic.tmpl
  dot_config/zsh/conf.d/04-env.zsh.tmpl
Due: gitleaks, check-file-size

Optimize zsh startup: Reduce from 61ms to 50ms (18% faster)
  dot_config/zsh/conf.d/01-init.zsh.tmpl
  dot_config/zsh/conf.d/03-tools.zsh
  dot_config/zsh/conf.d/04-env.zsh.tmpl
  dot_config/zsh/dot_zshenv.tmpl
  dot_zprofile.tmpl
Due: gitleaks, check-file-size

Sync monolithic template with modular optimizations
  .chezmoitemplates/zshrc-monolithic.tmpl
Due: gitleaks, check-file-size

BREAKTHROUGH: Fix _p9k_init_ssh bottleneck by setting both bypass variables
  .chezmoitemplates/zshrc-monolithic.tmpl
  dot_config/zsh/conf.d/01-init.zsh.tmpl
  dot_config/zsh/dot_zshenv.tmpl
Due: gitleaks, check-file-size
