Repository lv416e/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, check-file-size, check-private-keys, check-chezmoi-config

gitleaks:
  run: mise exec -- gitleaks protect --verbose --redact --staged
  skip:
  - merge
  - rebase

check-file-size:
  run: "for file in $(git diff --cached --name-only); do\n  # Skip if file doesn't exist (deleted files)\n  [ -f \"$file\" ] || continue\n\n  # Get file size (macOS and Linux compatible)\n  size=$(stat -f%z \"$file\" 2>/dev/null || stat -c%s \"$file\" 2>/dev/null)\n\n  # Check if file is larger than 1
  ...

check-private-keys:
  run: "# Check for private key files in staged changes\nfiles=$(git diff --cached --name-only | grep -E '\\.(key|pem|p12|pfx|cer|crt|der)$' || true)\n\nif [ -n \"$files\" ]; then\n  echo \"‚ùå Attempting to commit private key files:\"\n  echo \"$files\" | sed 's/^/   /'\n  echo \"\"\n  echo \"Private
  ...

check-chezmoi-config:
  run: "# Check if secrets = \"error\" is still set\nif ! grep -q 'secrets = \"error\"' .chezmoi.toml.tmpl; then\n  echo \"‚ö†Ô∏è  Warning: 'secrets = \\\"error\\\"' not found in .chezmoi.toml.tmpl\"\n  echo \"   This setting prevents accidental secret commits.\"\n  echo \"   Consider adding it to [ad
  ...

Synchronize monolithic config with modular multiplexer abstraction
  .chezmoitemplates/zshrc-monolithic.tmpl
Due: gitleaks, check-file-size

Optimize zsh startup: Reduce from 61ms to 40ms (35% faster)
  .chezmoitemplates/zshrc-monolithic.tmpl
  dot_config/zsh/conf.d/01-init.zsh.tmpl
  dot_config/zsh/conf.d/03-tools.zsh
  dot_config/zsh/conf.d/05-aliases.zsh
  dot_config/zsh/dot_zshrc.tmpl
  dot_zprofile.tmpl
Due: gitleaks, check-file-size

Update .local/bin/tmux-work
  dot_local/bin/executable_tmux-work
Due: check-file-size

tweak
  .chezmoi.toml.tmpl
Due: gitleaks, check-file-size, check-chezmoi-config

tweak
  dot_local/bin/executable_tmux-work
Due: check-file-size

Update terminal configurations and add font installation automation
  .chezmoiscripts/run_once_before_10-install-fonts.sh
  dot_config/alacritty/alacritty.toml.tmpl
  dot_config/ghostty/config.tmpl
  dot_config/kitty/kitty.conf.tmpl
  dot_hammerspoon/init.lua
Due: gitleaks, check-file-size

Add difftastic integration with conditional git aliases
  .chezmoi.toml.tmpl
  dot_Brewfile
  dot_gitconfig.tmpl
Due: gitleaks, check-file-size, check-chezmoi-config

Update .Brewfile
  dot_Brewfile
Due: check-file-size

Add Architecture Decision Records and restructure documentation
  docs/README.md
  docs/adr/0001-adopt-jujutsu-alongside-git.md
  docs/adr/0002-use-zsh-defer-for-deferred-loading.md
  docs/adr/0003-dual-encryption-strategy.md
  docs/adr/0004-multiplexer-abstraction-layer.md
  docs/adr/0005-configuration-variants-system.md
  docs/adr/0006-rust-ecosystem-adoption.md
  docs/adr/0007-difftastic-integration.md
  docs/adr/README.md
  docs/explanation/multiplexer-abstraction.md
  docs/explanation/pre-commit-hooks.md
  docs/explanation/zsh-modular-config.md
  docs/getting-started/new-machine-setup.md
  docs/guides/secrets-management.md
  docs/guides/tmux-status-bar.md
  docs/guides/zsh-config-switching.md
  docs/guides/zsh-rollback.md
  docs/reference/keybindings.md
  docs/reference/mise-tasks.md
  docs/reference/new-tools.md
  docs/reference/terminal-multiplexers.md
Due: check-file-size

tweak
  docs/explanation/multiplexer-abstraction.md
  docs/guides/zsh-config-switching.md
  docs/reference/new-tools.md
Due: check-file-size

Update .Brewfile Add .config/helix/config.toml
  dot_Brewfile
  dot_config/helix/config.toml
Due: gitleaks, check-file-size

Add .config/helix/languages.toml
  dot_config/helix/languages.toml
Due: gitleaks, check-file-size

Change attributes of .config/mise/config.toml
  dot_config/private_mise/config.toml
Due: gitleaks, check-file-size

Update .config/helix/languages.toml
  dot_config/helix/languages.toml
Due: gitleaks, check-file-size

docs: Add comprehensive Helix editor setup documentation
  docs/reference/helix-setup.md
Due: check-file-size

Update .config/mise/config.toml
  dot_config/private_mise/config.toml
Due: gitleaks, check-file-size

Update .Brewfile Add .default-go-packages
  dot_Brewfile
  dot_default-go-packages
Due: check-file-size

fix: Remove timeout wrapper causing N/A in tmux Claude usage display
  dot_local/bin/executable_tmux-claude-usage.sh
Due: gitleaks, check-file-size

fix: Correct CPU usage calculation always showing 100%
  dot_local/bin/executable_tmux-cpu-usage.sh
Due: gitleaks, check-file-size

Add promptq: Prompt Queue Manager for Claude Code
  dot_Brewfile
  dot_config/promptq/.keep
  dot_config/promptq/INTEGRATION.md
  dot_config/promptq/README.md
  dot_config/promptq/templates/code-review.tmpl.tmpl
  dot_config/promptq/templates/debug-help.tmpl.tmpl
  dot_config/promptq/templates/explain-concept.tmpl.tmpl
  dot_local/bin/executable_promptq
  dot_local/bin/executable_tmux-claude
  dot_local/bin/executable_tmux-nvim
  dot_local/bin/executable_tmux-work
Due: gitleaks, check-file-size

Add snippet system for reusable prompts to promptq
  dot_config/promptq/README.md
  dot_config/promptq/snippets/code-review-checklist.txt.tmpl
  dot_config/promptq/snippets/daily-standup.txt.tmpl
  dot_config/promptq/snippets/explain-like-im-five.txt.tmpl
  dot_local/bin/executable_promptq
Due: gitleaks, check-file-size

Fix jq parse error in select-send and prioritize current window
  dot_config/promptq/README.md
  dot_local/bin/executable_promptq
Due: check-file-size

Fix tmux pane detection and title persistence across all scripts
  dot_config/promptq/README.md
  dot_local/bin/executable_promptq
  dot_local/bin/executable_tmux-claude
  dot_local/bin/executable_tmux-nvim
  dot_local/bin/executable_tmux-work
Due: check-file-size

Protect pane titles from shell overwrites with pane-specific options
  dot_config/promptq/README.md
  dot_local/bin/executable_tmux-claude
  dot_local/bin/executable_tmux-nvim
  dot_local/bin/executable_tmux-work
Due: check-file-size

Fix pane title protection: use window-level options not pane-level
  dot_config/promptq/README.md
  dot_local/bin/executable_tmux-claude
  dot_local/bin/executable_tmux-nvim
  dot_local/bin/executable_tmux-work
Due: check-file-size

Fix pane title persistence by disabling zsh auto-title
  dot_config/promptq/README.md
  dot_local/bin/executable_tmux-claude
  dot_local/bin/executable_tmux-nvim
  dot_local/bin/executable_tmux-work
Due: check-file-size

Implement robust @role-based Claude pane detection
  dot_config/promptq/README.md
  dot_local/bin/executable_promptq
  dot_local/bin/executable_tmux-claude
  dot_local/bin/executable_tmux-nvim
  dot_local/bin/executable_tmux-work
Due: check-file-size

Remove ineffective automatic-rename/allow-rename settings
  dot_local/bin/executable_tmux-claude
  dot_local/bin/executable_tmux-nvim
  dot_local/bin/executable_tmux-work
Due: check-file-size

Add ppq alias for promptq
  .chezmoitemplates/zshrc-monolithic.tmpl
  dot_config/zsh/conf.d/05-aliases.zsh
Due: gitleaks, check-file-size

Add zsh completion for promptq/ppq commands
  .chezmoitemplates/zshrc-monolithic.tmpl
  dot_config/zsh/conf.d/08-promptq.zsh
  dot_config/zsh/dot_zshrc.tmpl
Due: gitleaks, check-file-size

Modernize promptq output with gum styling
  dot_Brewfile
  dot_local/bin/executable_promptq
Due: check-file-size

Enhance promptq help examples with category grouping
  dot_local/bin/executable_promptq
Due: check-file-size

Optimize promptq help and add comprehensive edit functionality
  dot_local/bin/executable_promptq
Due: check-file-size

Enhance promptq: add Helix preference, fzf selection, --keep flag, remove emoji
  dot_local/bin/executable_promptq
Due: check-file-size

Add .local/bin/promptq.bak Add .local/bin/promptq.emoji
  dot_local/bin/executable_promptq.bak
  dot_local/bin/executable_promptq.emoji
Due: check-file-size

Path conditions:
  gitleaks: any of: *.{yml,yaml,toml,sh,zsh,bash,json,env,txt,tmpl,lua}
  check-file-size: any of: *
  check-private-keys: any of: *.{key,pem,p12,pfx,cer,crt,der}
  check-chezmoi-config: any of: .chezmoi.toml.tmpl
